name: Build and push docker image
on:
  push:
    branches:
      - 'FEATURE'
      - 'FEATURE-*'
      - 'RELEASE'
      - 'RELEASE-*'
  workflow_dispatch:
jobs:
  build:
    name: Build docker image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    outputs:
      image_name: ghcr.io/${{ github.repository }}
    steps:
      - uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=latest
            type=raw,value=cache

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: 'true'
          context: .
          tags: |
            ${{ steps.meta.outputs.tags }}
            ghcr.io/${{ github.repository }}:${{ github.sha }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:cache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository }}:cache,mode=max

  deploy:
    name: Deploy to Kubernetes
    needs: build
    runs-on: microk8s-pve-runner

    environment:
      name: production
      url: https://todo.kotobars.ru
    steps:
      - uses: actions/checkout@v4

      - name: Deploy manifests
        run: |
          set -eo pipefail
          export KUBECONFIG="${KUBECONFIG:-$HOME/.kube/config}"
          kubectl create namespace todo --dry-run=client -o yaml | kubectl apply -f -
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl apply -f k8s/httproute.yaml
          kubectl set image deployment/todo-frontend todo-frontend=${{ needs.build.outputs.image_name }}:${{ github.sha }} --namespace todo
          kubectl rollout status deployment/todo-frontend --namespace todo --timeout=120s
